# Ambiente
.env
.venv
venv/

# Django
*.pyc
__pycache__/
db.sqlite3
*.log

# Migrações geradas
# (opcional — alguns projetos versionam, outros não)
# */migrations/

# IDE
.vscode/
.idea/

# Build
dist/
build/
*.egg-info/
desktop.ini